<mat-card class="product-list">
  <mat-card-header>
    <mat-card-title>Product List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="product-grid">
      <mat-grid-list cols="3" gutterSize="16px">
        <mat-grid-tile *ngFor="let product of products$ | async">
          <app-product-item [product]="product"></app-product-item>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-card-content>
</mat-card>

<!-- <div class="card product-list">
  <div class="card-header">
    <h5 class="card-title mb-0">Product List</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let product of products$ | async">
        <app-product-item [product]="product"></app-product-item>
      </div>
    </div>
  </div>
</div> -->